**/__pycache__/*
**/.ok_consent
**/.ok_context
**/.ok_disabled
**/.ok_history
**/.ok_messages
**/.ok_storage
**/construct_check.py
**/hw06.ok
**/ok
**/tests/__init__.py

/algo/temp.py
**.aux
**.fdb_latexmk
**.fls
**.log
**.synctex.gz
